POSTGRES_USER=aaaaa
POSTGRES_PASSWORD=bbbbb
POSTGRES_DB=ccccc
DATABASE_URL=postgresql://aaaaa:bbbbb@db:5432/ccccc

# Email Configuration (opcional - deixe em branco para simular em desenvolvimento)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu-email
SMTP_PASSWORD=sua-senha-aplicativo
SMTP_FROM_EMAIL=seu-email
FRONTEND_URL=http://localhost:5173